body{
    background-image: url(trol.png);
    background-repeat : repeat-x ;
             background-size : cover ;
              background-size : 100% 100% ;
               background-attachment : fixed ;
        }
        p{
            color:blue;
        }
        title{
            color:blue;
        }